@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Maven+Pro&display=swap');

body {
    font-family: 'Karla', sans-serif;
    font-family: 'Maven Pro', sans-serif;
}
#containerone, #containertwo, #itemonetwo {
    display: flex;
    align-items: stretch;
}
#pageheader {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}
.one{
    border: 2px solid #000000;
    margin: 5%;
    width: 42.5%;
    height: 320px;
    text-align: center;
}

#timewrapper {
    font-size: larger;
}
.two {
    border: 2px solid #000000;
    margin: 5%;
    width: 42.5%;
    height: 200px;
    
}

.headers {
    text-decoration: underline;
    text-align: center;

}
 
.blockcontainer{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 40px;
    text-align: center;
    
}
.blocks {
    margin: 0%;
    padding: 0%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 0%;
    background-color: black;
}

#myChart {
    width: 90%;
    height: 90%;
}

#containerthree {
    border: 2px solid #000000;
    margin: 5%;
    width: 90%;
    text-align: center;
}

#graphinput {
    width: 90%;
    height: 40px;
    font-size: larger;
}

#graphinputsubmit {
    width: 30%;
    height: 40px;
    margin: 5px;

}