@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body {
    background-color: black;
    font-family: 'Maven Pro', sans-serif;
}

.calcheader {
    background-color: white;
    margin-left: 35%; 
    margin-right: 35%;
    width: 30%;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
}
    
#maincalculator, #singlenumbercalculator{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;

}

#Calculator, #singlenumberoperations {
    background-color: white;

    text-align: center;
    height: fit-content;
    border-radius: 25px;
    padding: 10px;

}

#enterNumsLabel, #entersinglenumlabel {
    text-decoration: underline;
    margin-top: 5px;
    font-size: 40px;
}
#enternumslabeldescription, #entersinglenumlabeldescription{
    font-size: 30px;
}
input {
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #000000;
    border-radius: 8px;
    box-sizing: border-box;
    color:black;
}

input[type=number]{
    font-size: 20px;
    text-align: center;
}

.addbutton, .subtractbutton, .multiplybutton, 
.dividebutton, .exponentbutton,
.modulusbutton, .squarebutton, .cubebutton{
    height: 70px;
    width: 70px;
    text-align: center;
    font-size: 50px;
    background-color: white;
}
.addbutton:hover, .subtractbutton:hover, .multiplybutton:hover,
.dividebutton:hover, .exponentbutton:hover, .modulusbutton:hover,
.squarebutton:hover, .cubebutton:hover{
    color: white;
    background-color: black;
}

#resultlabel, #singlenumberresultlebel {
    margin-bottom: 5px;
    border-radius: 25px;
    padding: 10px;
    font-size: 25px;
    border: 2px solid #000000;
}

